{% extends "base.html" %}
fields=["user","event","session","seats"]

{% load static %}
{% block content %}
{% if location %}
<div id="main-table">
    <table class="show-table">
    
    <caption><h2>Location</h2></caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Address</th>
            <th>Room capacity</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for location in page_obj %}
        <tr>
            <td>{{location.name}}</td>
            <td>{{location.city}}</td>
            <td>{{location.address}}</td>
            <td>{{location.room_capacity}}</td>
            <td><form action="{% url 'updateLocation' location.id %}" method="get">{% csrf_token %}<input class="edit" type="submit" value="Edit"></form></td>
            <td><form action="{% url 'deleteLocation' location.id %}" method="post">{% csrf_token %}<input class="delete" type="submit" value="Delete"></form></td>
            {% endfor %}
        </tr>
    </tbody>
</table>




{% endif %}

{% endblock %}
{% block footer %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}