body{
    margin:0;
}
.container{
    display: grid;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: 20vh  60vh;
    grid-template-areas: "menu menu menu menu"
                        /* "... errors errors ..." */
                        "... main main ...";
    
}
ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}
#table-main{
    display: grid;
    grid-area:main;
    width:100%;
    height: 100%;
}
#main{
    display: grid;
    grid-area: main;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 100%;
    grid-template-areas: "Welcome form"; 
}
#main-form{
    display: grid;
    grid-area: main;
    grid-template-columns:  100vw;
    grid-template-rows: 60vh;
    grid-template-areas: "form form"; 
}
.menu{
    grid-area:menu;
   
}
.menu a{
    margin-top: 2em;
    margin-left: 1em;
}
.Welcome{
    grid-area:Welcome;
}
.errors{
    /* grid-area:errors; */
    list-style: none;
   
}
.errors li{
    margin-bottom:1em;

}