body{
    margin:0;
}
.container{
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 20%  80%;
    grid-template-areas: "menu menu menu menu"
                        /* "... errors errors ..." */
                        "... main main ...";
    
}
#main{
    display: grid;
    grid-area: main;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "Welcome form"; 
}
.menu{
    grid-area:menu;
   
}
.menu a{
    margin-top: 2em;
    margin-left: 1em;
}
.Welcome{
    grid-area:Welcome;
}
.errors{
    /* grid-area:errors; */
    list-style: none;
   
}
.errors li{
    margin-bottom:1em;

}