
/**/
#pic_logo{
    width: 100%;
    height: 100%;
   
  }
  .logo1{
    margin: 0;
}

.menuList{
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: 0;
}

.menuListItem{
  list-style-type: none;
  display: inline-block;
  margin: 0px 50px;
  font-size: larger;

}

.menuListItem:hover{
  text-transform: uppercase;
  font-weight: bolder;
}

.menuListItem:active{
  text-transform: uppercase;
  font-weight: bolder;
}

.menuDiv {
  display: flex;
  /* align-items: center; */
} 

.navLogo {
  height: 10%;
  width: 13%;
  float: left;
  margin-right: 40%;
  border-radius: 25px;
  padding: 1px;
  /* margin-left: 2$; */
}

.navBar{
  margin: 1%;
  width: 98%;
  height: fit-content;
  background-color: #270949;
  font-size: large;
  /* border: 3px #270949 solid; */
  /* position: fixed; */
  border-radius: 20px;

}
